#pause {
    background-color: #4B8CE9;
    border-radius: .238em;
    border: 1px solid #0A3A7D;
    color: #fff;
    display: inline-block;
    font-size: 1.3125em;
    padding: 0.476em 3%;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0,0,0,.4);
    margin-top: -110px;
    z-index: 50;
    position: absolute;
    right: 40px;
    margin-top: -973px;
}

#contain {
    display: flex;
}

#continue {
    margin-left: 100px;
    margin-top: -400px;
    background-color: #4B8CE9;
    border-radius: .238em;
    border: 1px solid #0A3A7D;
    color: #fff;
    padding: 16px;
}

.container {
    position: absolute;
    padding-left: 100px;
}

#status {
    position: absolute;
    z-index: 50;
    margin-top: -800px;
    margin-left: 200px;
    font-size: 36px;
    font-weight: normal;
    color: #ffbf00;
}

img {
    max-width: 50px;
}

body {
    display: flex;
    /* justify-content: center; */
    background: #65a1f5;
}

#status2{
    position: absolute;
    z-index: 50;
    margin-top: -350px;
    margin-left: 85px;
    font-size: 36px;
    font-weight: normal;
    color: #ffbf00;
}

#status2:hover {
    cursor: pointer;
}

a {
    width: 100px;
    height: 100px;
}

